* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  line-height: 1.6;
  width: 100%;
  scroll-behavior: smooth;
}

header,
main,
footer {
  max-width: 1400px;
  margin: 0 auto;
  /* padding: 0 60px; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo img {
  height: 30px;
  width: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  text-decoration: none;
  color: rgb(119, 109, 235);
  transition: color 0.3s ease;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.nav-links li a:hover {
  color: #fff;
}

.nav-links li a:hover::after {
  width: 100%;
}

.nav-links button {
  padding: 8px 18px;
  border: none;
  border-radius: 4px;
  background-color: rgb(119, 109, 235);
  color: #fff;
}

.nav-links button:hover {
  background-color: rgb(98, 89, 196);
  transition: background-color 0.3s ease;
}

.hero {
  display: flex;
  align-items: center;
  height: 100vh;
}

.hero-content {
  max-width: 700px;
}

.hero-content .top-line {
  display: inline-flex;
  background-color: rgba(120, 109, 235, 0.274);
  color: #ffffffde;
  letter-spacing: 0.7px;
  padding: 8px;
  border-radius: 30px;
  font-size: 12px;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.25rem;
}

.hero-content .top-line .meetup {
  background-color: rgb(119, 109, 235);
  padding: 0 14px;
  border-radius: 30px;
}

.hero-content h1 {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.25;
  margin-bottom: 1.25rem;
}

.hero-content .email-box {
  display: flex;
  align-items: stretch;
  gap: 0;
  width: 100%;
  border-radius: 0.2rem;
  margin-left: 0.2rem;
  overflow: hidden;
}

.hero-content .email-box input[type="email"],
.email-box button {
  padding: 1rem;
  border: none;
}

.hero-content .email-box input[type="email"] {
  width: 50%;
  background-color: #181717;
  font-size: 0.8rem;
}

.hero-content .email-box button {
  width: 20%;
  background-color: rgba(240, 238, 255, 0.2) !important;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.hero-content .email-box button a {
  font-size: 0.8rem;
}

.hero-content p {
  margin-top: 1rem;
  margin-left: 0.3rem;
  color: #ffffff50;
  font-size: 0.8rem;
}

.features-container {
  display: flex;
  gap: 5rem;
  height: auto;
  width: 100%;
  padding: 4rem 0;
  /* align-items: center; */
}

.features-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
}

.features-card div {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #1e1e1ead;
}

.features-card h3 {
  font-weight: 400;
  font-size: 1.5rem;
}

.features-card p {
  color: #f0eeff85;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.features-card .read-btn {
  background-color: rgba(240, 238, 255, 0.1);
  height: 2.5rem;
  width: 5.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  text-decoration: none;
  color: #ffffffe3;
  transition: transform 0.3s ease;
}

.features-card .read-btn:hover {
  transform: scale(1.1);
}

.products-container {
  display: flex;
  width: 100%;
  height: auto;
  padding: 4rem 0;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  anchor-name: --products-slide;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
}

.products-container::scroll-marker-group {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.products-card::scroll-marker {
  content: "";
  height: 0.7rem;
  width: 0.7rem;
  background-color: rgba(240, 238, 255, 0.1);
  border-radius: 50%;
}

.products-card::scroll-marker:target-current {
  background-color: rgb(119, 109, 235);
}
.products-container::-webkit-scrollbar {
  display: none;
}

.products-container::scroll-button(right),
.products-container::scroll-button(left) {
  content: "▶";
  padding: 0 0 0.2rem 0.3rem;
  border: none;
  background-color: rgb(119, 109, 235);
  color: #ffffffda;
  font-size: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  position-anchor: --products-slide;
  position-area: right center;
  translate: -50%;
}

.products-container::scroll-button(left) {
  content: "◀";
  padding: 0 0.3rem 0.2rem 0;
  position-area: left center;
  translate: 50%;
}

.products-container::scroll-button(right):disabled,
.products-container::scroll-button(left):disabled {
  opacity: 0.7;
  cursor: auto;
}

.products-card {
  scroll-snap-align: start;
  flex: 0 0 30rem;
  background-color: #f0eeff1a;
  padding: 2rem;
  height: 15rem;
  border-radius: 0.5rem;
  text-align: center;
  align-content: center;
}

.bold-line {
  /* height: auto; */
  font-size: 2.5rem;
  margin: 2rem 0;
  padding: 5rem;
  width: 80%;
}

.bold-line span {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.25rem;
  text-decoration-color: rgb(119, 109, 235);
}

.type-cards {
  display: flex;
  gap: 4rem;
  justify-content: flex-start;
  padding: 3.5rem 0;
  height: auto;
  padding: 4rem 0;
}

.type-cards .card {
  background-color: #f0eeff1a;
  padding: 2rem;
  width: 100%; /*applying this in sections will take space and aligned with other items  */
  height: 15rem;
  border-radius: 0.3rem;
}

.type-cards .card .tag {
  background-color: rgb(119, 109, 235);
  color: #fff;
  padding: 0.3rem 0.6rem;
  font-size: 0.6rem;
  text-transform: uppercase;
  border-radius: 0.2rem;
}

.type-cards .card p {
  margin-top: 2rem;
  color: #ffffff77;
  line-height: 1.8rem;
  font-size: 1.2rem;
  max-width: 90%;
}

.type-cards .card p span {
  color: #fff;
}

.read-btn-black {
  display: inline-block;
  background-color: #000;
  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  margin-top: 2rem;
  transition: transform 0.3s ease;
}

.read-btn-black:hover {
  transform: scale(1.1);
}

.pricing-container {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  height: auto;
  padding: 4rem 0;
}

.pricing-container .pricing-text h2 {
  font-size: 3rem;
  padding: 2rem 0;
}

.pricing-container .pricing-text p {
  color: #ffffff77;
  font-size: 1.5rem;
  line-height: 1.6rem;
  margin-bottom: 3rem;
}

.pricing-container .pricing-text h5 {
  font-size: 1.3rem;
  font-weight: 400;
}

.pricing-container .pricing-text .icons {
  margin: 2rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.pricing-container .pricing-section {
  display: flex;
  gap: 2rem;
  align-items: stretch;
}

.pricing-section .pricing-card {
  background-color: #d4cece;
  padding: 2rem;
  width: 20rem;
  /* height: auto; */
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.pricing-card h2 {
  font-weight: 500;
  color: rgb(119, 109, 235);
}

.pricing-card .price {
  display: flex;
  align-items: baseline;
  gap: 0.3rem;
  color: #333;
}

.pricing-card .price span {
  font-size: 4rem;
  font-weight: 900;
}

/* list */
.pricing-card ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 0.8rem;
}

/* each item */
.pricing-card ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1rem;
  color: #333;
}

.pricing-card ul li i {
  font-size: 0.85rem;
  background: rgba(119, 109, 235, 0.15);
  color: rgb(119, 109, 235);
  padding: 0.3rem 0.3rem 0.2rem;
  border-radius: 50%;
}

.pricing-card ul li.unavailable {
  color: #777;
}

.pricing-card ul li.unavailable i {
  background: rgba(150, 150, 150, 0.15);
  color: #999;
}

.pricing-card .sign-up {
  background: rgb(119, 109, 235);
  border: none;
  padding: 0.8rem;
  color: #fff;
  border-radius: 0.3rem;
  width: 100%;
  cursor: pointer;
  margin-top: auto; /* keeps button at bottom */
  font-size: 0.9rem;
  transition: 0.3s;
}

.pricing-card.free {
  background-color: #262626c0;
}

.pricing-card.free .sign-up {
  background-color: #000;
}

.pricing-card.free .sign-up:hover {
  background-color: #121212;
}

.pricing-card.free h2,
.pricing-card.free .price,
.pricing-card.free ul li {
  color: #fff;
}

.pricing-card.free ul li.unavailable i {
  background: rgba(
    255,
    255,
    255,
    0.1
  ); /* subtle light icon background for cross */
  color: #ccc;
}

.pricing-card.pro {
  background-color: #fff;
}

.pricing-card.pro .sign-up {
  background-color: rgb(119, 109, 235);
}

.pricing-card.pro .sign-up:hover {
  background-color: rgb(98, 89, 196);
}

.testimonial-carousel {
  width: 100%;
  overflow: hidden;
  padding: 4rem 0;
  margin-bottom: 5rem;
  position: relative;
}

.marquee {
  width: 100%;
  overflow-x: auto;
  cursor: grab;
  scrollbar-width: none;
}
.marquee::-webkit-scrollbar {
  display: none;
}

.marquee-track {
  display: flex;
  gap: 1.5rem;
  width: max-content; /* prevents shrinking */
  animation: slide-left 40s linear infinite;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  } /* moves half, enabling loop */
}

.marquee:hover .marquee-track,
.marquee:active .marquee-track {
  animation-play-state: paused;
}

.testimonial-card {
  flex: 0 0 20rem;
  background-color: #121212;
  padding: 2rem;
  border-radius: 0.5rem;
  transition: transform 0.2s ease;
  border: 1px solid #222;
}

.testimonial-card:hover {
  transform: translateY(-0.3rem);
}

.photo-section .text-part h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.photo-section {
  padding: 4rem 0;
}

.photo-section .text-part p {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  color: #ffffff7e;
  margin-bottom: 1rem;
}

.photo-section .img-part {
  position: relative;
  display: inline-block;
}

.photo-section .img-part img {
  width: 30rem;
  height: auto;
  display: block;
}

.img-part .in-image {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  padding: 0.5rem 1rem 0.6rem;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.2s ease;
}

.img-part .in-image:hover {
  background-color: #000;
  color: #fff;
}

.blog-container {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
  margin-bottom: 4rem;
  /* flex-wrap: wrap; */
}

.blog-card {
  flex: 0 0 20rem;
  padding: 1rem 1rem 1.5rem;
  border-radius: 0.5rem;
  transition: transform 0.3s ease, background-color 0.2s ease;
}

.blog-card:hover {
  transform: scale(1.1);
  background-color: #3333337c;
}

.blog-card img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.blog-card p {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.blog-card .blog-btn {
  font-size: 0.8rem;
  color: rgb(119, 109, 235);
}

.cta-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  background-color: #1a1a1a;
  border-radius: 0.3rem;
  max-width: 100%;
  margin: 4rem auto;
}

.cta-call h2 {
  font-size: 32px;
  margin-bottom: 16px;
  font-weight: bold;
}

.cta-call p {
  font-size: 16px;
  margin-bottom: 20px;
  max-width: 400px;
  line-height: 1.5;
}

.cta-container .email-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
  width: 100%;
}

.cta-container .email-box input {
  padding: 1rem 1.5rem;
  font-size: 0.8rem;
  background-color: #333333;
  border: none;
  width: 300px;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.cta-container .email-box button {
  padding: 1rem 1.5rem;
  font-size: 0.8rem;
  background-color: #6c5ce7;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.cta-container .email-box button:hover {
  background-color: #5a4bbf;
}

footer.footer {
  background-color: #1a1a1a;
  padding: 80px 60px;
  color: #fff;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.footer-col.brand {
  max-width: 300px;
}

.footer-col.brand h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

.footer-col.brand h2 span {
  color: #6c5ce7;
}

.footer-col.brand p {
  color: #ccc;
  font-size: 14px;
  line-height: 1.6rem;
  margin-bottom: 18px;
}

.footer-col h4 {
  font-size: 16px;
  margin-bottom: 18px;
  font-weight: 600;
}

.footer-col ul {
  list-style: none;
  padding-left: 0;
}

.footer-col ul li {
  margin-bottom: 12px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
}

.footer-col ul li a:hover {
  color: #6c5ce7;
}

.footer-col.newsletter {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.subscribe {
  display: flex;
  width: 100%;
}

.subscribe input {
  width: 70%;
  padding: 14px;
  background-color: #333;
  border: none;
  outline: none;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  color: #fff;
  font-size: 0.8rem;
}

.subscribe button {
  width: 30%;
  padding: 14px;
  background-color: #6c5ce7;
  color: #fff;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  transition: 0.3s ease;
}

.subscribe button:hover {
  background-color: #5a4bbf;
}

.social-links {
  display: flex;
  gap: 20px;
}

.social-links a {
  background-color: #6c5ce7;
  padding: 0.7rem 1rem 0.6rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 50%;
  transition: 0.3s ease;
}

.social-links a:hover {
  background-color: #5a4bbf;
}
